@charset "UTF-8";

@font-face {
    font-family: Carnevalee;
    src: url(Carnevalee\ Freakshow.ttf) format(truetype);
    font-weight: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/*Adicionar outra fonte para o restante da página*/
body {
    margin: auto;
}

.container {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 12;
}
/*Estilo header*/
header {
    background-image: linear-gradient(to left, #0b1e1f,#153f40);
    /*background-image: linear-gradient(to left, #0D0D0D,#8C8C8C);*/
    background-color: #010316;
    color: #ffffff;
    width: 100%;
    height: 100px;
}

header h1 {
    font-family: Carnevalee;
    font-size: 3em;
    text-align: left;
    margin: 10px 0px;
    padding: 10px;
}
/*Estilo menu*/
.menu {
    display: grid;
    grid-column-start: 8;
    grid-column-end: 10;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: right;
    margin: 40px;
    padding: 20px;
    font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    font-size: 1.2em;
    color: #D9D9D9;
}
/*Estilo seção*/
section {
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

h1 {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-size: 2em;
}

p {
    font-family: "Open Sans", sans-serif;
    text-align: justify;
    text-indent: 30px;
    font-size: 1.2em;
}
/*Pesquisar como alinha imagens*/
img {
    margin: 0;
    padding: auto;
    border: 0;
    border-radius: 10px;
}

.card {
    display: flex;
    flex-flow: row wrap;
    margin: 20px;
    padding: 16px;
    justify-content: center;
    color: #ffffff;
}

.card p {
    text-align: justify;
    text-indent: 0px;
    font-size: 0.9em;
}

.img {
    background-color: #0b1e1f;
    border-radius: 1rem;
    padding: 0.8rem;
    margin-bottom: 0.8rem;
    margin: 20px;
}

.img img {
    width: 200px;
    height: 250px;
}
/*Estilo formulário*/
.cor {
    background-color: #000000;
    color: #ffffff;
    margin-right: 60px;
    margin-left: 60px;
    border-radius: 5px;
}

#contato {
    padding: 30px 150px;
    margin: 0 auto;
}

.formulario {
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 800px;
    font-family: "Open Sans", sans-serif;
}

.formulario > label {
    font-size: 1.125rem;
    margin-top: 10px;
}

.formulario > input {
    height: 30px;
    font-size: 1.125rem;
}

.formulario > textarea {
    font-size: 1.125rem;
}

.botao {
    padding: 15px 30px;
    background-color: #0b1e1f;
    color: #ffffff;
    display: inline-block;
    margin-top: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer; /*Transforma o cursor do mouse*/
    transition: 0.7s;
    text-transform: uppercase;
    border-color: transparent;
}

.botao:hover {
    background-color: #0b1e1f;
    color: #ffffff;
    font-size: 16px;
}
/*Estilo footer*/
/*Fazer os icones do rodapé ficarem alinhados horizontalmente */
footer {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to left, #0b1e1f,#133738);
    margin-top: 30px;
}

footer > p {
    font-family: Carnevalee;
    color: #ffffff;
    font-size: 1.5em;
    text-align: center;
}

footer img {
    width: 30px;
    height: 30px;
    margin-bottom: 30px;
}

footer a {
    margin: 10px;
    text-align: center;
}

footer a:hover {
    transform: scale(1.5);
}
/*responsividade do dispositivos móveis*/
@media (max-width: 450px) {
.menu {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 1;
}

section {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.card {
    margin: 10px;
    padding: 5px;
}
}

@media (min-width: 450px) {
section {
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}
}

/*Reponsividade contato*/
@media (min-width: 450px) {
    #contato {
        padding: 30px;
    }

    .formulario {
    width: 100%;
    }

    .cor {
        margin-right: 40px;
        margin-left: 40px;
    }
}

@media (min-width: 750px) {
    .formulario {
        width: 500px;
    }

    .cor {
        margin-right: 70px;
        margin-left: 70px;
    }
}

@media (min-width: 1050px) {
    .formulario {
        width: 700px;
    }

    .cor {
        margin-right: 150px;
        margin-left: 150px;
    }
}